
<div class="row">
    <div class="col-md-8">
        <table  class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                   
                <th>Time</th>
                <th>Detected</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="log in camlogs">
                <td>
                    {{ log.detectedTime|date:'dd/MMM' }}
                </td>
                <td>
                    {{ log.isDetected }}
                </td>
                
            </tr>
            </tbody>
        </table> 
    </div>

</div>

<div class="row">
    <div google-chart chart="myChartObject" style="height:600px; width:100%;"></div>
</div>


